{% comment %} ATTENTION!!! This is compiled version of afterpay-popup.liquid and it is overriding automatically. You should use theme development tool and sources\snippets\afterpay-popup.liquid file to code and save your changes. {% endcomment %}<div id="afterpay-modal-overlay1" style="display: none;">
  <div id="afterpay-modal-modal1" tabindex="-1" aria-label="Afterpay" role="dialog" aria-modal="true" class="popup" data-afterpay="afterpay-popup">
    <button id="afterpay-modal-close1" aria-label="close" style="padding: 0px; background: none; border: none;" data-afterpay-close>
      <svg xmlns="http://www.w3.org/2000/svg" focusable="false" width="20" height="20" viewBox="0 0 30 30"><defs><style>.a{fill:#000;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>close</title><line class="a" x1="1" y1="1" x2="29" y2="29"></line><line class="a" x1="1" y1="29" x2="29" y2="1"></line></svg>
    </button>
    <div><meta name="viewport" content="width=device-width,initial-scale=1.0">
    <div class="afterpay_modal_wrapper">
      <div class="grid-container">
        <div class="row-0">
          <div class="afterpay-modal-logo">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 135" width="300" height="135">
              <defs>
                <clipPath clipPathUnits="userSpaceOnUse" id="cp1">
                  <path d="M0 0L300 0L300 135L0 135Z"></path>
                </clipPath>
              </defs>
              <style>
                tspan { white-space:pre }
                .shp0 { fill: #b2fce4 } 
                .shp1 { fill: #000000 } 
              </style>
              <g id="afterpay-badge" clip-path="url(#cp1)">
                <path id="Path-1" class="shp0" d="M232.73 111.82L67.27 111.82C42.88 111.82 23.11 91.98 23.11 67.5C23.11 43.03 42.88 23.19 67.27 23.19L232.73 23.19C257.13 23.19 276.9 43.03 276.9 67.5C276.9 91.98 257.13 111.82 232.73 111.82Z"></path>
                <path id="Path-2" fill-rule="evenodd" class="shp1" d="M239.42 66.65L233.88 69.84L228.25 73.08C224.52 75.23 219.88 72.53 219.88 68.21L219.88 67.36C219.88 66.51 218.96 65.97 218.22 66.4L213.08 69.36L207.95 72.31C207.21 72.73 207.21 73.8 207.95 74.23L213.08 77.18L218.22 80.14C218.96 80.56 219.88 80.03 219.88 79.18L219.88 77.45C219.88 76.62 220.78 76.09 221.5 76.51L224.11 78.01C224.46 78.21 224.67 78.58 224.67 78.97L224.67 79.7C224.67 84.02 220.02 86.72 216.29 84.57L210.67 81.33L205.12 78.14C201.38 75.98 201.38 70.56 205.12 68.41L210.67 65.21L216.29 61.97C220.02 59.83 224.67 62.53 224.67 66.84L224.67 67.7C224.67 68.55 225.59 69.08 226.32 68.66L231.46 65.7L236.59 62.75C237.33 62.32 237.33 61.25 236.59 60.82L231.46 57.87L226.32 54.92C225.59 54.49 224.67 55.02 224.67 55.88L224.67 57.6C224.67 58.44 223.77 58.96 223.04 58.54L220.43 57.04C220.09 56.84 219.88 56.48 219.88 56.08L219.88 55.35C219.88 51.04 224.52 48.34 228.25 50.48L233.88 53.72L239.42 56.92C243.17 59.07 243.17 64.49 239.42 66.65ZM203 57.98L189.99 84.92L184.59 84.92L189.45 74.85L181.81 57.98L187.35 57.98L192.26 69.28L197.62 57.98L203 57.98ZM73.08 77.11L73.08 74.62C71.67 76.35 69.57 77.42 67.05 77.42C61.83 77.42 57.86 73.21 57.86 67.55C57.86 61.92 61.98 57.64 67.17 57.64C69.61 57.64 71.67 58.71 73.08 60.39L73.08 57.98L77.77 57.98L77.77 77.11L73.08 77.11ZM73.04 67.55C73.04 64.33 70.71 62.07 67.85 62.07C64.99 62.07 62.67 64.37 62.67 67.55C62.67 70.68 64.99 73.02 67.85 73.02C70.71 73.02 73.04 70.76 73.04 67.55ZM101.5 72.86L101.5 77.11L99.02 77.11C95.13 77.11 93.65 75.43 93.65 71.52L93.65 62.15L87.46 62.15L87.46 77.11L82.65 77.11L82.65 62.15L79.98 62.15L79.98 57.98L82.65 57.98L82.65 55.43C82.65 51.45 84.52 50.15 88.49 50.15L90.8 50.15L90.8 53.86L89.74 53.86C88.07 53.86 87.46 54.47 87.46 56.08L87.46 57.98L93.65 57.98L93.65 53.31L98.45 53.31L98.45 57.98L101.46 57.98L101.46 62.15L98.45 62.15L98.45 70.64C98.45 72.25 98.91 72.86 100.55 72.86L101.5 72.86Z"></path>
                <path id="Path-3" fill-rule="evenodd" class="shp1" d="M108.21 68.81C108.56 71.64 110.58 73.25 113.13 73.25C115.15 73.25 116.72 72.29 117.63 70.76L122.55 70.76C121.41 74.81 117.78 77.42 113.02 77.42C107.26 77.42 103.22 73.36 103.22 67.58C103.22 61.81 107.49 57.64 113.13 57.64C118.81 57.64 122.93 61.85 122.93 67.58C122.93 68 122.89 68.43 122.82 68.81L108.21 68.81ZM117.78 65.82C117.44 63.34 115.42 61.85 113.06 61.85C110.69 61.85 108.75 63.3 108.25 65.82L117.78 65.82ZM138.39 84.92L138.39 57.98L143.08 57.98L143.08 60.47C144.49 58.71 146.59 57.64 149.1 57.64C154.25 57.64 158.29 61.88 158.29 67.51C158.29 73.13 154.17 77.42 148.99 77.42C146.59 77.42 144.6 76.46 143.23 74.85L143.23 84.92L138.39 84.92ZM153.49 67.55C153.49 64.45 151.16 62.07 148.3 62.07C145.44 62.07 143.12 64.37 143.12 67.55C143.12 70.68 145.44 73.02 148.3 73.02C151.16 73.02 153.49 70.64 153.49 67.55ZM175.23 77.11L175.23 74.62C173.82 76.35 171.72 77.42 169.21 77.42C163.98 77.42 160.02 73.21 160.02 67.55C160.02 61.92 164.13 57.64 169.32 57.64C171.76 57.64 173.82 58.71 175.23 60.39L175.23 57.98L179.92 57.98L179.92 77.11L175.23 77.11ZM175.19 67.55C175.19 64.33 172.87 62.07 170.01 62.07C167.15 62.07 164.82 64.37 164.82 67.55C164.82 70.68 167.15 73.02 170.01 73.02C172.87 73.02 175.19 70.76 175.19 67.55ZM129.93 59.86C129.93 59.86 131.13 57.64 134.05 57.64C135.3 57.64 136.11 58.07 136.11 58.07L136.11 62.95C136.11 62.95 134.35 61.85 132.73 62.08C131.11 62.3 130.08 63.79 130.09 65.79L130.09 77.11L125.24 77.11L125.24 57.98L129.93 57.98L129.93 59.86Z"></path>
              </g>
            </svg>
          </div>
        </div>
        <div class="row-1">
          <h3 class="afterpay-modal-headline">
            Shop now. <span>Pay later.</span>
          </h3>
          <h3 class="afterpay-modal-headline">
            Always interest-free.
          </h3>
        </div>
        <div class="process-step-1 process">
          <div class="process-icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" aria-label="shopping cart" viewBox="24 14 52 72" class="process-icon shopping-cart"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><path class="cls-1" d="M50,69.47a27.28,27.28,0,0,1-4-3c-2.13-1.87-4.52-4.49-4.44-7.36a5,5,0,0,1,.37-1.75,4.27,4.27,0,0,1,8.13.25,4.27,4.27,0,0,1,8.13-.25,5,5,0,0,1,.37,1.75c.08,2.87-2.31,5.49-4.44,7.36a27.28,27.28,0,0,1-4,3"></path><path class="cls-1" d="M34.5,49V31a15.5,15.5,0,0,1,31,0V49"></path><path class="cls-1" d="M25,35H70.79A4.21,4.21,0,0,1,75,39.21V79.79A4.21,4.21,0,0,1,70.79,84H25a0,0,0,0,1,0,0V35A0,0,0,0,1,25,35Z" transform="translate(109.5 9.5) rotate(90)"></path></svg>
          </div>
          <p class="process-subheading">
            Add your<br>
            favorites to cart
          </p>
        </div>
        <div class="process-step-2 process">
          <div class="process-icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" aria-label="Afterpay laptop" viewBox="9 24 82 56" class="process-icon afterpay-desktop"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><line class="cls-1" x1="45.5" y1="76.49" x2="54.5" y2="76.49"></line><path class="cls-1" d="M19.43,25.5H80.57a3.93,3.93,0,0,1,3.93,3.93V74.5a0,0,0,0,1,0,0h-69a0,0,0,0,1,0,0V29.43A3.93,3.93,0,0,1,19.43,25.5Z"></path><path d="M63.75,41.52,59.3,39l-4.51-2.59a4.48,4.48,0,0,0-6.71,3.89v.58a.89.89,0,0,0,.44.77l2.1,1.2a.86.86,0,0,0,1.3-.75V40.69a.89.89,0,0,1,1.33-.77l4.12,2.37,4.11,2.36a.88.88,0,0,1,0,1.53l-4.11,2.36L53.25,50.9a.88.88,0,0,1-1.33-.76v-.69a4.48,4.48,0,0,0-6.71-3.89L40.7,48.15,36.25,50.7a4.49,4.49,0,0,0,0,7.78L40.7,61l4.51,2.59a4.48,4.48,0,0,0,6.71-3.89v-.58a.88.88,0,0,0-.44-.77l-2.1-1.2a.86.86,0,0,0-1.3.75v1.38a.89.89,0,0,1-1.33.77l-4.12-2.37-4.11-2.36a.88.88,0,0,1,0-1.53l4.11-2.36,4.12-2.36a.88.88,0,0,1,1.33.76v.69a4.48,4.48,0,0,0,6.71,3.89l4.51-2.59,4.45-2.55A4.49,4.49,0,0,0,63.75,41.52Z"></path><rect class="cls-1" x="10.5" y="74.49" width="79" height="4" rx="2"></rect></svg>
            <svg xmlns="http://www.w3.org/2000/svg" aria-label="Afterpay mobile" viewBox="24 9 52 82" class="process-icon afterpay-mobile"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><rect class="cls-1" x="10.5" y="25.5" width="79" height="49" rx="4.21" transform="translate(100 0) rotate(90)"></rect><line class="cls-1" x1="25.49" y1="19.5" x2="74.49" y2="19.5"></line><line class="cls-1" x1="25.49" y1="84.5" x2="74.49" y2="84.5"></line><line class="cls-1" x1="45.49" y1="15.5" x2="54.49" y2="15.5"></line><path d="M63.75,41.52,59.3,39l-4.51-2.59a4.48,4.48,0,0,0-6.71,3.89v.58a.89.89,0,0,0,.44.77l2.1,1.2a.86.86,0,0,0,1.3-.75V40.69a.89.89,0,0,1,1.33-.77l4.12,2.37,4.11,2.36a.88.88,0,0,1,0,1.53l-4.11,2.36L53.25,50.9a.88.88,0,0,1-1.33-.76v-.69a4.48,4.48,0,0,0-6.71-3.89L40.7,48.15,36.25,50.7a4.49,4.49,0,0,0,0,7.78L40.7,61l4.51,2.59a4.48,4.48,0,0,0,6.71-3.89v-.58a.88.88,0,0,0-.44-.77l-2.1-1.2a.86.86,0,0,0-1.3.75v1.38a.89.89,0,0,1-1.33.77l-4.12-2.37-4.11-2.36a.88.88,0,0,1,0-1.53l4.11-2.36,4.12-2.36a.88.88,0,0,1,1.33.76v.69a4.48,4.48,0,0,0,6.71,3.89l4.51-2.59,4.45-2.55A4.49,4.49,0,0,0,63.75,41.52Z"></path></svg>
          </div>
          <p class="process-subheading">
            Select Afterpay<br>
            at checkout
          </p>
        </div>
        <div class="process-step-3 process">
          <div class="process-icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" aria-label="sign up laptop" viewBox="9 24 82 56" class="process-icon sign-up-desktop"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><polyline class="cls-1" points="61.51 52.12 65.94 56.57 74.5 47.99"></polyline><circle class="cls-1" cx="40" cy="50" r="14.5"></circle><circle class="cls-1" cx="40" cy="45.8" r="6.09"></circle><path class="cls-1" d="M29.92,60.42a8.43,8.43,0,0,1,8-5.8h4.2a8.45,8.45,0,0,1,8,5.79"></path><line class="cls-1" x1="45.5" y1="76.49" x2="54.5" y2="76.49"></line><path class="cls-1" d="M19.43,25.5H80.57a3.93,3.93,0,0,1,3.93,3.93V74.5a0,0,0,0,1,0,0h-69a0,0,0,0,1,0,0V29.43A3.93,3.93,0,0,1,19.43,25.5Z"></path><rect class="cls-1" x="10.5" y="74.49" width="79" height="4" rx="2"></rect></svg>
            <svg xmlns="http://www.w3.org/2000/svg" aria-label="sign up mobile" viewBox="24 9 52 82" class="process-icon sign-up-mobile"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><rect class="cls-1" x="10.5" y="25.5" width="79" height="49" rx="4.21" transform="translate(100) rotate(90)"></rect><polyline class="cls-1" points="45.45 67.06 49.88 71.51 58.44 62.93"></polyline><line class="cls-1" x1="25.49" y1="19.5" x2="74.49" y2="19.5"></line><line class="cls-1" x1="25.49" y1="84.5" x2="74.49" y2="84.5"></line><line class="cls-1" x1="45.49" y1="15.5" x2="54.49" y2="15.5"></line><circle class="cls-1" cx="50" cy="43" r="14.5"></circle><circle class="cls-1" cx="50" cy="38.8" r="6.09"></circle><path class="cls-1" d="M39.92,53.42a8.43,8.43,0,0,1,8-5.8h4.2a8.45,8.45,0,0,1,8,5.79"></path></svg>
          </div>
          <p class="process-subheading">
            Log into or create<br>
            your Afterpay account,<br>
            instant approval decision
          </p>
        </div>
        <div class="process-step-4 process">
          <div class="process-icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" aria-label="four payments" viewBox="14 7 79 79" class="process-icon four-payments"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><path class="cls-1" d="M50,15.5A34.5,34.5,0,0,0,15.5,50H50Z"></path><path class="cls-1" d="M15.5,50A34.5,34.5,0,0,0,50,84.5V50Z"></path><path class="cls-1" d="M50,84.5h0A34.5,34.5,0,0,0,84.5,50H50Z"></path><path class="cls-1" d="M57,8.5h0V43h34.5A34.5,34.5,0,0,0,57,8.5Z"></path></svg>
          </div>
          <p class="process-subheading">
            Your purchase will be<br>
            split into 4 payments,<br>
            payable every 2 weeks
          </p>
        </div>
        <div class="row-3">
          <p class="disclaimer">
            You must be over 18, a resident of the U.S. and meet additional eligibility criteria to qualify. Late fees may apply. Estimated payment amounts shown on product pages exclude taxes and shipping charges, which are added at checkout. Click <a href="https://www.afterpay.com/purchase-payment-agreement" aria-label="Afterpay Terms (New Window)" target="_blank" class="disclaimer-link">here</a> for complete terms.
            <span class="loan-agreement">Loans to California residents made or arranged pursuant to a California Finance Lenders Law license.</span>
            <span>© 2020 Afterpay</span>
          </p>
        </div>
      </div>
    </div>
      
    <style type="text/css">
        :-moz-ui-invalid:not(output) {
          box-shadow: none;
        }
      
        /* :root {
            font-size:32px;
          } */
      
        /* #afterpay-modal-modal1 :root{
            font-size: 10px;
          } */
    
        @font-face {
          font-family: 'Italian Plate No2 Expanded';
          src: url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Regular.eot');
          src: url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Regular.eot?#iefix') format('embedded-opentype'), url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Regular.woff2') format('woff2'), url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Regular.woff') format('woff');
          font-weight: 400;
          font-style: normal;
        }
    
        @font-face {
          font-family: 'Italian Plate No2 Expanded';
          src: url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Demibold.eot');
          src: url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Demibold.eot?#iefix') format('embedded-opentype'), url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Demibold.woff2') format('woff2'), url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Demibold.woff') format('woff');
          font-weight: 600;
          font-style: normal;
        }
    
        @font-face {
          font-family: 'Italian Plate No2 Expanded';
          src: url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Bold.eot');
          src: url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Bold.eot?#iefix') format('embedded-opentype'), url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Bold.woff2') format('woff2'), url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Bold.woff') format('woff');
          font-weight: 700;
          font-style: normal;
        }
      
        .afterpay_modal_wrapper * {
          box-sizing: border-box !important;
          text-decoration: none !important;
          /* background: #b2fce4 !important; */
          font-family: 'Italian Plate No2 Expanded', sans-serif !important;
          color: #000 !important;
        }
      
        #afterpay-modal-modal1 {
          overflow-y: auto !important;
          top: 50% !important;
          left: 50% !important;
          width: 80% !important;
          max-width: 75% !important;
          height: auto !important;
          -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
          -webkit-font-smoothing: antialiased !important;
          border-radius: 0 !important;
          /* background: #b2fce4 !important; */
          bottom: unset;
        }
    
        .afterpay_modal_wrapper .grid-container .row-0{ grid-area: header;}
        .afterpay_modal_wrapper .grid-container .row-1{ grid-area: main;}
        .afterpay_modal_wrapper .grid-container .svg-1{ grid-area: svg1;}
        .afterpay_modal_wrapper .grid-container .svg-2{ grid-area: svg2;}
        .afterpay_modal_wrapper .grid-container .svg-3{ grid-area: svg3;}
        .afterpay_modal_wrapper .grid-container .svg-4{ grid-area: svg4;}
        .afterpay_modal_wrapper .grid-container .row-3{ grid-area: footer; }
    
        .afterpay_modal_wrapper .grid-container{
          text-align: center !important;
          padding: 15px !important;
          display: grid;
          grid-template-rows: auto;
          grid-template-columns: repeat(4, 25%);
          grid-template-areas: 
            "header header header header"
            "main main main main"
            "process-step-1 process-step-2 process-step-3 process-step-4"
            "footer footer footer footer";
        }
    
        .afterpay_modal_wrapper .grid-container > div{
          align-content: stretch !important;
          min-height: 15vh !important;
        }
    
        .afterpay_modal_wrapper .grid-container .row-0 .afterpay-modal-logo .afterpay-logo-black {
          display: block !important;
          width: 275px !important;
          height: auto !important;
          margin-top: 45px !important;
          margin-left: auto !important;
          margin-right: auto !important;
        }
    
        .afterpay_modal_wrapper .grid-container .row-1 {
          padding-top: 15px !important;
        }
    
        .afterpay_modal_wrapper .grid-container .row-1 h3.afterpay-modal-headline {
          font-size: 44px !important;
          font-weight: 600 !important;
          margin: 0 !important;
          text-align: center !important;
          line-height: 1.1 !important;
          letter-spacing: normal !important;
          color: #000 !important;
          text-transform: none !important;
        }
    
        .afterpay_modal_wrapper .grid-container .process .process-icon-container {
          height: 125px !important;
        }
    
        .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.process-icon {
          max-width: 110px !important;
          max-height: 95px !important;
        }
    
        .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.shopping-cart,
        .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.four-payments {
          margin-top: 30px !important;
        }
    
        .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.afterpay-desktop,
        .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.sign-up-desktop {
          margin-top: 50px !important;
        }
    
        .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.afterpay-mobile,
        .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.sign-up-mobile{
          display: none !important;
        }
    
        .afterpay_modal_wrapper .grid-container .process p.process-subheading {
          font-weight: 600 !important;
          font-size: 16px !important;
          line-height: 1.25 !important;
          letter-spacing: normal !important;
          margin-top: 20px !important;
          color: #000 !important;
        }
    
        .afterpay_modal_wrapper .grid-container > div.row-3 {
          margin-top: 25px !important;
        }
    
        .afterpay_modal_wrapper .grid-container > div.row-3 p.disclaimer {
          font-size: 12px !important;
          font-weight: 400 !important;
          max-width: 80% !important;
          margin-left: auto !important;
          margin-right: auto !important;
          line-height: 1.1 !important;
          letter-spacing: normal !important;
          color: #000 !important;
        }
    
        .afterpay_modal_wrapper .grid-container > div.row-3 p.disclaimer span {
          display: block !important;
        }
    
        .afterpay_modal_wrapper .grid-container > div.row-3 p.disclaimer span.loan-agreement {
          margin-top: 10px !important;
          margin-bottom: 5px !important;
        }
    
        @media (min-width: 1000px) {
          #afterpay-modal-modal1 {
            max-width: 774px !important;
          }
        }
      
        @media (max-width: 768px) {
          #afterpay-modal-modal1 {
            min-height: 100%;
            min-width: 100%;
            max-height: 50%;
            padding-bottom: 5.5rem !important;
          }
        }
      
        @media (max-height: 650px) {
          #afterpay-modal-modal1 {
            min-height: 100%;
            min-width: 100%;
            max-height: 50%;
            padding-bottom: 5.5rem;
          }
        }
    
        /* Mobile styling */
        @media only screen and (max-width:770px){
          .afterpay_modal_wrapper .grid-container{
            grid-template-columns: auto;
            grid-template-areas: 
                "header"
                "main"
                "svg1"
                "svg2" 
                "svg3"
                "svg4"
                "footer";
            text-align: left !important;
            padding: 30px !important;
          }
          #afterpay-badge{
            transform: translateX(-22px);
          }
          .afterpay_modal_wrapper .grid-container > div {
            min-height: 12vh !important;
          }
    
          .afterpay_modal_wrapper .grid-container .row-0 .afterpay-modal-logo .afterpay-logo-black {
            display: block !important;
            width: 300px !important;
            height: auto !important;
            margin-left: 0 !important;
            margin-right: auto !important;
          }
    
          .afterpay_modal_wrapper .grid-container .row-1 {
            padding-top: 2em !important;
          }
    
          .afterpay_modal_wrapper .grid-container .row-1 h3.afterpay-modal-headline {
            font-size: 3.2em !important;
            text-align: left !important;
          }
    
          .afterpay_modal_wrapper .grid-container .row-1 h3.afterpay-modal-headline span {
            display: block !important;
          }
    
          .afterpay_modal_wrapper .grid-container .process {
            display: flex !important;
            margin-top: 15px !important;
          }
    
          .afterpay_modal_wrapper .grid-container .process-step-1 {
            margin-top: 40px !important;
          }
    
          .afterpay_modal_wrapper .grid-container .process .process-icon-container {
            display: flex !important;
            flex-direction: row !important;
            vertical-align: middle !important;
            margin-right: 20px !important;
            height: 105px !important;
          }
    
          .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.process-icon {
            width: 120px !important;
            height: auto !important;
            max-height: 85px !important;
          }
    
          .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.afterpay-desktop,
          .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.sign-up-desktop {
            display: none !important;
          }
    
          .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.afterpay-mobile,
          .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.sign-up-mobile {
            display: block !important;
          }
    
          .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.shopping-cart,
          .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.four-payments {
            margin-top: 0 !important;
          }
    
          .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.afterpay-desktop,
          .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.sign-up-desktop {
            margin-top: 0 !important;
          }
    
          .afterpay_modal_wrapper .grid-container .process p.process-subheading {
            margin-top: 25px !important;
            font-size: 15px !important;
          }
    
          .afterpay_modal_wrapper .grid-container .process-step-3.process p.process-subheading,
          .afterpay_modal_wrapper .grid-container .process-step-4.process p.process-subheading {
            margin-top: 15px !important;
          }
    
    
          .afterpay_modal_wrapper .grid-container > div.row-3 {
            margin-top: 15px !important;
          }
    
          .afterpay_modal_wrapper .grid-container > div.row-3 p.disclaimer {
            max-width: 100% !important;
            margin-top: 25px !important;
          }
        }
    
        .disclaimer-link {
          color: #000 !important;
          text-decoration: underline !important;
        }
    
        .disclaimer-link:active {
          color: #000 !important;
        }
  
        #afterpay-modal-overlay1 {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 99999999999;
        }
  
        #afterpay-modal-modal1 {
          z-index: 9999999999999;
          position: fixed;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          width: 50%;
          background-color: white;
          border-radius: 5px;
          padding: 8px;
          box-sizing: border-box;
          overflow-y: auto;
          text-align: center;
          border: none;
        }
      
        #afterpay-modal-close1:not(*:root) {
          position: sticky;
          position: -webkit-sticky;
          top: 10px;
          right: 15px;
          float: right;
        }
      </style>
      
    </div></div>
    <div class="popup-bg" data-afterpay-close></div>
  </div>
  
    