{% comment %} ATTENTION!!! This is compiled version of rich-text.liquid and it is overriding automatically. You should use theme development tool and sources\sections\rich-text.liquid file to code and save your changes. {% endcomment %}{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}


  <div class="section_container">
    <div class="main_content container">
      <div class="main_wrapper" data-animate-section>
        {% if section.settings.title != blank %}
          <div class="title not-animated" style="color: {{ section.settings.color_title }};">{{ section.settings.title }}</div>
        {% endif %}

        {% if section.settings.text != blank %}
          <div class="text" style="color: {{ section.settings.color_text }}">{{ section.settings.text }}</div>
        {% endif %}
      </div>
    </div>
  </div>


{% endif %}



{% schema %}
{
  "name": "Rich Text",
  "tag": "section",
  "class": "rich-text-custom",
  "settings": [
    {
      "type": "checkbox",
      "id": "visible",
      "label": "Show block",
      "default": true
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Background",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Title",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text",
      "default": "#000"
    }
  ]
}
{% endschema %}