#landding-page {
    .slick-slide {
        padding-left: 12px;
        padding-right: 12px;
    }
    @media (max-width: 989px) {
        .about-tech-slider_description {
            font-size: 16px;
        }

        .slick-slider {
            padding-left: 22px;
        }

        .slick-track {
            padding-left: 53px;
        }

        .slick-slide {
            padding-left: 7px;
            padding-right: 7px;
        }

        .slick-dots {
            justify-content: flex-start;
        }
    }
}