<div class="sections-wrapper" id="collection-page">
  {% section 'ea-collection-banner' %}
  {% section 'ea-collection' %}
  {% section 'icon-block' %}
  {% section 'ea-section-othericonblock' %} 
</div>
