
<div class="sections-wrapper">
  {% comment %}{% section 'hero--faq' %}{% endcomment %}
  {% section 'ea-faq-banner' %}
  {% section 'ea-section-faq' %}
  {% section 'ea-section-homeproduct' %}
</div>