<div class="sections-wrapper">
    {% section 'ea-product-register' %}
    {% section 'ea-product-register-video' %}
    {% section 'ea-product-register-faq' %}
    {% section 'ea-product-register-download' %}
  </div>
  