<div class="sections-wrapper" id="about-page">
    {% section 'ea-page-about-banner' %}
    {% section 'ea-page-about-main' %}
    {% section 'ea-page-about-tech-slider' %}
    {% section 'ea-page-about-text-slider' %}
    {% section 'ea-products-slider' %}
  </div>