<div class="sections-wrapper" id="landding-page">
    {% section 'ea-page-landding-site-slider' %}
    {% section 'ea-product-compare' %}
    {% section 'ea-image-text-list' %}
    {% section 'ea-autoscroll-logo' %}
    {% section 'ea-page-landding-site-slider2' %}
    {% section 'ea-review-list' %}
    {% section 'ea-product-faq' %}
</div>